<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="icon"  href="/icons/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <title>RTC Apps</title>
</head>
<body>
    <div class="main">
        <div class="main-logo ">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150" height="150" viewBox="0 0 200 200">
                <defs>
                  <clipPath id="clip-SPRK_default_preset_name_custom_1">
                    <rect width="200" height="200"/>
                  </clipPath>
                </defs>
                <g id="SPRK_default_preset_name_custom_1" data-name="SPRK_default_preset_name_custom – 1" clip-path="url(#clip-SPRK_default_preset_name_custom_1)">
                  <g id="Face" transform="translate(24 9)" fill="#fff" stroke="#707070" stroke-width="1">
                    <ellipse cx="77.5" cy="91.5" rx="77.5" ry="91.5" stroke="none"/>
                    <ellipse cx="77.5" cy="91.5" rx="77" ry="91" fill="none"/>
                  </g>
                  <path id="eye_1" data-name="eye 1" d="M30.5,61A30.508,30.508,0,0,1,18.628,2.4,30.508,30.508,0,0,1,42.372,58.6,30.308,30.308,0,0,1,30.5,61ZM31,5A26,26,0,1,0,57,31,26.029,26.029,0,0,0,31,5Z" transform="translate(106 39)"/>
                  <path id="eye_2" data-name="eye 2" d="M30.5,61A30.508,30.508,0,0,1,18.628,2.4,30.508,30.508,0,0,1,42.372,58.6,30.308,30.308,0,0,1,30.5,61ZM31,5A26,26,0,1,0,57,31,26.029,26.029,0,0,0,31,5Z" transform="translate(34 39)"/>
                  <path id="inside_1" data-name="inside 1" d="M10,18C4.486,18,0,13.963,0,9S4.486,0,10,0,20,4.037,20,9,15.514,18,10,18Zm.5-11C8.57,7,7,8.122,7,9.5S8.57,12,10.5,12,14,10.879,14,9.5,12.43,7,10.5,7Z" transform="translate(127 61)" fill="#0f0d0d"/>
                  <path id="inside_2" data-name="inside 2" d="M10,18C4.486,18,0,13.963,0,9S4.486,0,10,0,20,4.037,20,9,15.514,18,10,18Zm.5-11C8.57,7,7,8.122,7,9.5S8.57,12,10.5,12,14,10.879,14,9.5,12.43,7,10.5,7Z" transform="translate(55 61)" fill="#0f0d0d"/>
                  <path id="smile" d="M-159,112a50.082,50.082,0,0,1-13.781-1.923,49.748,49.748,0,0,1-12.307-5.414A50.22,50.22,0,0,1-203.145,85.5,55.059,55.059,0,0,0-162,104a55.174,55.174,0,0,0,52.966-40.129,49.608,49.608,0,0,1-4.427,18.8,49.893,49.893,0,0,1-10.8,15.29A49.75,49.75,0,0,1-159,112Z" transform="translate(256.089 50.629)"/>
                  <path id="GlassHandle" d="M139.251,3.5l7.5,2.5Zm-133,0-6,2ZM139,.5,146.5,3ZM66.75,3h0ZM6,.5l-6,2ZM66.5,0h0Z" transform="translate(28 69.5)" fill="rgba(0,0,0,0)" stroke="#707070" stroke-width="1"/>
                  <path id="noise" d="M-177.237,51.5h-5.238c6.456-2.612,11.645-8.543,14.238-16.274V42.5A9.01,9.01,0,0,1-177.237,51.5Z" transform="translate(269.237 63)" fill="#040404"/>
                </g>
              </svg>
        </div>
        <div class="main-discription">
            <article class="shadow p-3 mb-5 bg-body rounded">
                    We Are here for you.<br/>
                    A small app for making an instance and secure connection.<br/>
                    <em><b>NO</b></em> collected data.<br/>
                    All of your chat data are not availeble once you leave it.<br/>
                    Have Fun.
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-upside-down" viewBox="0 0 16 16">
                        <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0-1a8 8 0 1 1 0 16A8 8 0 0 1 8 0z"/>
                        <path d="M4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5z"/>
                    </svg><br/>
            </article>
        </div>
        <div class="main-header">
            <h1>Real Time Communication</h1>
        </div>
        <div class="mine-header">
            <h3>Real Time Communication</h3>
        </div>
        <div class="main-controle">
            <div class="Video">
                <form action="/room" method="post">
                    <input type="submit" value="New Video Room" id="VRoom" class="btn btn-light rounded-pill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175l3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                    </svg>            
                </form>
            </div>

            <div class="Chat">
                <form action="/rooom" method="post">
                    <input type="submit" value="New Chat Room" id="CRoom" class="btn btn-light rounded-pill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-text" viewBox="0 0 16 16">
                        <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                        <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8zm0 2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </form>
            </div>
        </div>
    </div>
</body>
</html>